@font-face {
     font-family: Pacifico;
     src: url(../fonts/Pacifico.ttf);
}

@font-face {
     font-family: BerkshireSwash;
     src: url(../fonts/BerkshireSwash.ttf);
}


page-home {
    .toolbar-title-md, .toolbar-title-ios , .toolbar-title-wp{
        color: red !important;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: Pacifico !important;
    }
    
    #titulo{
        font-family: BerkshireSwash !important;
        text-align: center;
        background: #fa0101;
        color:aqua;
    }
    
    button:hover{
        box-shadow: 2px 2px red;
    }
    ion-content{
        background:url(../img/CetColsubsidio.jpg) !important;
    }
}

